 /* bağlantılı css örneği */
.menu {
  text-align: center;
  background-color: #f17498;
  padding: 10px 0;
}

/* Linkler masaüstünde yatay */
.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  font-weight: bold;
}
.menu a:hover {
  background-color: #efc3e4;
  color: #f17498;
  border-radius: 5px;
}
#resim1{
 width: 300px;  /* genişlik */
  height: auto;  /* yükseklik */
  border-radius: 5px; /* köşeleri yuvarlaklaştırdım */

}
.form-kutusu {
  width: 80%;
  margin: 20px auto;
  padding: 25px;
  border: 2px solid #f17498;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.iletisim-formu table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-family: Calibri, sans-serif;
}

.iletisim-formu table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.iletisim-formu table input,
.iletisim-formu table textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.anket-baslik {
  text-align: center;
  color: red;
}

.degerlendirme-kutusu {
  width: 30%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #f17498;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: Calibri, sans-serif;
}

.degerlendirme-kutusu table {
  width: 100%;
  border-collapse: collapse;
}

.degerlendirme-kutusu table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.degerlendirme-kutusu select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: Calibri, sans-serif;
}

.buton{
    color: #f17498;
}
/* Tabloların tamamını ekrana sığdır */
table {
  width: 100%;         /* tablo ekran genişliğini kaplasın */
  border-collapse: collapse;
}

/*RESPONSİVE TASARIM*/
table th, table td {
  padding: 8px;
  text-align: left;
  font-size: 16px;    
}
@media (max-width: 768px) {
  table th, table td {
    font-size: 14px;
    padding: 4px;
  }
  h2, h3 {
    text-align: center;
  }
}
